
body{
    background-image: url('/public/image/fleur_noir.jpg');
    background-repeat:no-repeat;
    background-size: 100%;
    background-position: fixed;
    
}
.Titreprincipale{
background-color:  transparent !important;
height: 80px;
text-align: center;
justify-content: center;
align-items: center;
display: flex;
color: white;
border-radius: 5px;
font-size: 50px;
}
.AjouterUneTâche{
    background-color:  transparent !important;
    border-radius: 5px;
    color: white ;
}
.container{
    border-radius: 8px ;
    border-top: solid 5px white;
    height: 80px;
}
.AjouterUneTâche{
    font-size: 30px;
    color :white ;

}
.ajout{
    height: 25px;
    border: solid 1px;
    border-radius: 5px;
   
}
.ajouter{
    background-color:  transparent !important;
    border-radius: 50px  white;
    border: solid 0.1px !important;
    color:white;
    height: 30px;
    width:120px ;
}

button{
    background-color:  transparent !important;
    border-radius: 10px  white;
    border: solid 0.1px !important;
    position:relative; 
    display:inline-block; 
    height: 30px;
    border-radius: 4px;
    color: white;
 
}
.bouton{
    background-color: transparent !important;
    height: 50px;
    width: 1702px;
    
}

img{
    height: 20px;
    display: flex;
    flex-wrap: wrap;
    display: flex;

}

.input{
    border-radius: 3px;
    border: solid 1px;
    height: 25px;
}

.grandeDiv{
    background-color: white;
}

.divbouton{
    display: flex;
    justify-content: end;
}

.afaire{
    background-color: transparent!important ;
}

.terminer{
    background-color: rgb(4, 149, 4) !important ;
}
.ajouter{
    cursor:pointer;
}

img{
    cursor:pointer;
}
button{
    cursor:pointer;
    font-family: 'Courier New', Courier, monospace;
}


